.editor {
	&__field,
	&__new {
		margin-bottom: 1rem;
		padding: .5rem;
		background: white;
	}

	&__field {
		&__delete,
		&__move {
			@extend .button;
			@extend .button--unstyled;
			float: right;
			margin-right: .3rem;
		}

		&__move {
			cursor: move;
		}

		&--isDragging {
			border: .1rem dashed rgba(#444, .3);
			background: transparent;

			> * {
				visibility: hidden;
			}
		}
	}
}
