.editor {
	&__field,
	&__new {
		margin-bottom: 1rem;
		padding: .5rem;
		background: white;
	}

	&__field {
		&__delete,
		&__move {
			@extend .button;
			@extend .button--unstyled;
		}

		&__info {
			margin-bottom: .5rem;

			> * {
				display: inline;
			}
		}

		&__type {
			margin-right: 1rem;
		}

		&__actions {
			float: right;
		}

		&__move {
			cursor: move;
			margin-right: 1rem;
		}

		&--isDragging {
			border: .1rem dashed rgba(#444, .3);
			background: transparent;

			> * {
				visibility: hidden;
			}
		}

		&--list {

			&__item {
				display: flex;
				margin-bottom: .5rem;

				&__input {
					margin: 0!important;
				}
			}
		}
	}
}
